{
    "alt-speed-enabled": {{ ALT_SPEED_ENABLED | lower | default(false) }},
    "alt-speed-up": {{ ALT_SPEED_UP | default(50) }},
    "alt-speed-down": {{ ALT_SPEED_DOWN | default(50) }},
    "speed-limit-down": {{ SPEED_LIMIT_DOWN | default(100) }},
    "speed-limit-down-enabled": {{ SPEED_LIMIT_DOWN_ENABLED | lower | default (false) }},
    "speed-limit-up": {{ SPEED_LIMIT_UP | default(100) }},
    "speed-limit-up-enabled": {{ SPEED_LIMIT_UP_ENABLED | lower | default(false) }},
    "upload-slots-per-torrent": {{ UPLOAD_SLOTS_PER_TORRENT | default(14) }},
    "blocklist-url": "{{ BLOCKLIST_URL | lower | default('http://www.example.com/blocklist') }}",
    "blocklist-enabled": {{ BLOCKLIST_ENABLED | lower | default(false) }},
    "download-dir": "{{ DOWNLOAD_DIR | default('/media/Downloads') }}",
    "incomplete-dir": "{{ INCOMPLETE_DIR | default('/media/Downloads/incomplete') }}",
    "incomplete-dir-enabled": {{ INCOMPLETE_DIR_ENABLED | lower | default(false) }},
    "preallocation": {{ PREALLOCATION | default(1) }},
    "rename-partial-files": {{ RENAME_PARTIAL_FILES | lower | default(true) }},
    "start-added-torrents": {{ START_ADDED_TORRENTS | lower | default(true) }},
    "trash-original-torrent-files": {{ TRASH_ORIGINAL_TORRENT_FILES | lower | default(false) }},
    "umask": {{ UMASK | default(18) }},
    "watch-dir": "{{ WATCH_DIR | default('/media/Downloads/watch') }}",
    "watch-dir-enabled": {{ WATCH_DIR_ENABLED | lower | default(false) }},
    "cache-size-mb": {{ CACHE_SIZE_MB | default(4) }},
    "dht-enabled": {{ DHT_ENABLED | lower | default(true) }},
    "encryption": {{ ENCRYPTION | default(1) }},
    "lazy-bitfield-enabled": {{ LAZY_BITFIELD_ENABLED | lower | default(true) }},
    "lpd-enabled": {{ LPD_ENABLED | lower | default(false) }},
    "message-level": {{ MESSAGE_LEVEL | default(2) }},
    "pex-enabled": {{ PEX_ENABLED | lower | default(true) }},
    "prefetch-enabled": {{ PREFETCH_ENABLED | lower | default(true) }},
    "scrape-paused-torrents-enabled": {{ SCRAPE_PAUSED_TORRENTS_ENABLED | lower | default(true) }},
    "script-torrent-done-enabled": {{ SCRIPT_TORRENT_DONE_ENABLED | lower | default(false) }},
    "script-torrent-done-filename": "{{ SCRIPT_TORRENT_DONE_FILENAME | default() }}",
    "utp-enabled": {{ UTP_ENABLED | lower | default(true) }},
    "bind-address-ipv4": "{{ BIND_ADDRESS_IPV4 | default('0.0.0.0') }}",
    "bind-address-ipv6": "{{ BIND_ADDRESS_IPV6 | default('::') }}",
    "peer-congestion-algorithm": "{{ PEER_CONGESTION_ALGORITHM | default() }}",
    "peer-id-ttl-hours": {{ PEER_ID_TTL_HOURS | default(6) }},
    "peer-limit-global": {{ PEER_LIMIT_GLOBAL | default(240) }},
    "peer-limit-per-torrent": {{ PEER_LIMIT_PER_TORRENT | default(60) }},
    "peer-socket-tos": "{{ PEER_SOCKET_TOS | default('default') }}",
    "peer-port": {{ PEER_PORT | default(51413) }},
    "peer-port-random-high": {{ PEER_PORT_RANDOM_HIGH | default(65535) }},
    "peer-port-random-low": {{ PEER_PORT_RANDOM_LOW | default(1024) }},
    "peer-port-random-on-start": {{ PEER_PORT_RANDOM_ON_START | lower | default(false) }},
    "port-forwarding-enabled": {{ PORT_FORWARDING_ENABLED | lower | default(true) }},
    "download-queue-enabled": {{ DOWNLOAD_QUEUE_ENABLED | lower | default(true) }},
    "download-queue-size": {{ DOWNLOAD_QUEUE_SIZE | default(5) }},
    "queue-stalled-enabled": {{ QUEUE_STALLED_ENABLED | lower | default(true) }},
    "queue-stalled-minutes": {{ QUEUE_STALLED_MINUTES | default(30) }},
    "seed-queue-enabled": {{ SEED_QUEUE_ENABLED | lower | default(false) }},
    "seed-queue-size": {{ SEED_QUEUE_SIZE | default(10) }},
    "rpc-authentication-required": {{ RPC_AUTHENTICATION_REQUIRED | lower | default(false) }},
    "rpc-bind-address": "{{ RPC_BIND_ADDRESS | default('0.0.0.0') }}",
    "rpc-enabled": {{ RPC_ENABLED | lower | default(true) }},
    "rpc-host-whitelist": "{{ RPC_HOST_WHITELIST | default() }}",
    "rpc-host-whitelist-enabled": {{ RPC_HOST_WHITELIST_ENABLED | lower | default(true) }},
    "rpc-password": "{{ RPC_PASSWORD | default(password) }}",
    "rpc-port": {{ RPC_PORT | default(9091) }},
    "rpc-url": "{{ RPC_URL | lower | default('/transmission/')}}",
    "rpc-username": "{{ RPC_USERNAME | lower | default(pvr) }}",
    "rpc-whitelist": "{{ RPC_WHITELIST | default('127.0.0.1') }}",
    "rpc-whitelist-enabled": {{ RPC_WHITELIST_ENABLED | lower | default(true) }},
    "alt-speed-time-enabled": {{ ALT_SPEED_TIME_ENABLED | lower | default(false) }},
    "alt-speed-time-begin": {{ ALT_SPEED_TIME_BEGIN | default(540) }},
    "alt-speed-time-end": {{ ALT_SPEED_TIME_END | default(1020) }},
    "alt-speed-time-day": {{ ALT_SPEED_TIME_DAY | default(127) }},
    "idle-seeding-limit": {{ IDLE_SEEDING_LIMIT | default(30) }},
    "idle-seeding-limit-enabled": {{ IDLE_SEEDING_LIMIT_ENABLED | lower | default(false) }},
    "ratio-limit": "{{ RATIO_LIMIT | default('2.0') }}",
    "ratio-limit-enabled": {{ RATIO_LIMIT_ENABLED | lower | default(false) }}
}