{
  "Port": {{ JACKETT_PORT | default(9117) }},
  "AllowExternal": {{ JACKETT_ALLOW_EXTERNAL | lower | default(true) }},
  "APIKey": "{{ JACKETT_ADMIN_PASSWORD | default('random_api_key_hash') }}",
  "AdminPassword": "{{ JACKETT_ADMIN_PASSWORD | default(null) }}",
  "InstanceId": "{{ JACKETT_INSTANCE_ID | default('random_instance_id_hash') }}",
  "BlackholeDir": {{ JACKETT_BLACKHOLE_DIR | default('/testing/this') }},
  "UpdateDisabled": {{ JACKETT_UPDATE_DISABLED | lower | default(false) }},
  "UpdatePrerelease": {{ JACKETT_UPDATE_PRERELEASE | lower | default(false) }},
  "BasePathOverride": {{ JACKETT_BASE_PATH_OVERRIDE | default(null) }},
  "BaseUrlOverride": {{ JACKETT_BASE_URL_OVERRIDE | default(null) }},
  "CacheEnabled": {{ JACKETT_CACHE_ENABLED | lower | default(true) }},
  "CacheTtl": {{ JACKETT_CACHE_TTL | default(2100) }},
  "CacheMaxResultsPerIndexer": {{ JACKETT_CACHE_MAX_RESULTS_PER_INDEXER | default(1000) }},
  "FlareSolverrUrl": {{ JACKETT_FLARE_SOLVERR_URL | default(null) }},
  "FlareSolverrMaxTimeout": {{ JACKETT_FLARE_SOLVERR_MAX_TIMEOUT | default(55000) }},
  "OmdbApiKey": {{ JACKETT_OMDB_API_KEY | default(null) }},
  "OmdbApiUrl": {{ JACKETT_OMDB_API_URL | default(null) }},
  "ProxyType": {{ JACKETT_PROXY_TYPE | default(0) }},
  "ProxyUrl": {{ JACKETT_PROXY_URL | default(null) }},
  "ProxyPort": {{ JACKETT_PROXY_PORT | default(null) }},
  "ProxyUsername": {{ JACKETT_PROXY_USERNAME | default(null) }},
  "ProxyPassword": {{ JACKETT_PROXY_PASSWORD | default(null) }},
  "ProxyIsAnonymous": {{ JACKETT_PROXY_IS_ANONYMOUS | lower | default(true) }},
  "Testing": "Come on now"
}