[Unit]
Description=sonarr
After=network.target

[Service]
User={{ PVR_UID }}
Group={{ PVR_GID }}
UMask=0002

Type=simple
ExecStart=/usr/bin/mono --debug /usr/lib/sonarr/bin/Sonarr.exe -nobrowser -data=/home/{{ PVR_USERNAME }}/.config/sonarr
TimeoutStopSec=20
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target